// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-cream: #FAFFFD;
$color-mud: #f4d35e;
$color-royal: #3c73ff;
$color-green: #2ecc71;
$color-turqoise: #CCE1EA;
$color-light-violet: #99bdff;
$gradient-pink: linear-gradient(146deg,rgba(255,74,158,0) 55%,rgba(255,74,158,.4) 100%);
$gradient-blue: linear-gradient(200deg,rgba(255,74,158,0) 45%,rgba(40, 13, 194, 0.068) 100%);

$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-20: 20px;

// Container
// *------------------------------------------------*
#main-outlet {
  margin-top: 30px;
  margin-bottom: 30px;
  background: $color-cream;
  box-shadow: 0 8px 60px 0 rgba(103,151,255,.15), 0 12px 90px 0 rgba(103,151,255,.15);
  border-radius: $radius-20;
}

// Navigation Bar
// *------------------------------------------------*
.nav-pills li a {  
  &.active {
    color: $color-black;
  }
  &:hover {
    background-color: $tertiary;
    color: $color-white;
  }
}

.list-controls .navigation-container {
  margin: 0.8em 9px 1px;
}
